
@import url(https://fonts.googleapis.com/css?family=Poppins);
* {
  color: white;
  font-family: 微軟正黑體;
  position: relative;
  text-align: center;
}
body, html {
  background-color: #0f0d0f;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body{  
  overflow-x: hidden;
}
section {
  width: 100%;
}
.container {
  display: inline-block;
}
h1{
  font-size: 68px;
  font-weight: 800px;
  line-height: 1.0em;
  text-shadow: 0px 2px 13px rgb(119 227 239 / 28%), 0px 4px 26px rgb(119 227 239 / 34%);
}
h2{
  font-size: 40px;
  text-shadow: 0px 2px 13px rgb(119 227 239 / 28%), 0px 4px 26px rgb(119 227 239 / 34%);
}
h3{
  font-size: 30px;
  text-shadow: 0px 2px 13px rgb(119 227 239 / 28%), 0px 4px 26px rgb(119 227 239 / 34%);
}
p{
  font-size: 22px;
  line-height: 1.0em;
  text-shadow: 0px 2px 13px rgb(119 227 239 / 28%), 0px 4px 26px rgb(119 227 239 / 34%);
}
a{  
  display: inline-block;
  cursor: pointer;
  border: none;
  text-decoration: none;
}
.btn{
  display: inline-block;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  /* color: rgba(119, 227, 239, 1); */
  color: white;
  margin: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.0em;
  text-shadow: 0px 2px 13px rgb(119 227 239 / 28%), 0px 4px 26px rgb(119 227 239 / 34%);  
  background-image: linear-gradient(135deg, #60C0CB 18.23%, #6868FC 100%);
  box-shadow: 0px 2px 13px rgb(119 227 239 / 28%), 0px 4px 26px rgb(119 227 239 / 34%);
}
.btn:hover{
  box-shadow: inset 0px 2px 13px rgb(119 227 239 / 28%), inset 0px 4px 26px rgb(119 227 239 / 34%);  
}
.line{
  display: inline-block;
  border-bottom: solid 1px transparent;
  border-image: linear-gradient(135deg, #60C0CB 18.23%, #6868FC 100%);
  border-image-slice: 1;
  width: 60%;
  vertical-align: middle;
  margin-left: 25px;
}

/* 導覽列 */
ul{
  list-style: none;
  display: inline-block;
}
ul li{
  display: inline-block;
}
nav a{  
  font-family: Poppins;
  /*font-weight: bold;*/
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 2px;
  margin-left: 10px;
  height: 50px;
  line-height: 50px;
}
nav a:hover{
  text-shadow: 0px 2px 13px rgb(119 227 239 / 50%), 0px 4px 26px rgb(119 227 239 / 70%);
}
/* 培祐ㄉ按鈕 */
.FDOGE_style{
  background-color: #f0e883;
  border: none;
  color: rgb(44, 32, 32);
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  margin-right: 20%;
  border-radius: 16px;
}

/* footer */
#footer {
  background-color: black; 
  height: 30px;
  line-height:  30px;
}
#footer copyright{
  font-family: Poppins;  
}
#footer p{
  font-family: Poppins;  
  font-size: 18px;
}
#webgl-canvas{
  z-index: 0;
  position: absolute;
}

/* 首頁 */
#home .container{
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  text-align: center;
  z-index: 1;
}
#home .bscbutton{
  color: rgba(119, 227, 239, 1);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2px;
  text-decoration: none;
}

.wrapper {
  border: solid 1px #60C0CB;
  border-radius: 20px;
  width: 80%;
  max-width: 1200px;
  min-height: 85vh;
  padding: 60px 40px;
  box-sizing: border-box;
  text-align: left;
  margin: 100px auto;
}
.wrapper p{
  text-align: left;
}

/* whitePaper */
#whitepaper .wrapper h2{  
  text-align: left;
}
/* nft */
#FDOGE_NFT .wrapper h2{  
  text-align: left;
}
#FDOGE_NFT .pic{  
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
#FDOGE_NFT img{
  width: 100%;
  height: 100%;
}
#FDOGE_NFT p{
  margin-bottom: 70px;
}
#FDOGE_NFT .btn{
  border: none;
}
#FDOGE_NFT .bottom-text{
  text-align: center;
  font-size: 16px;
}

/* goal */
#goal .wrapper h2{
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
}
#goal .wrapper p{
  text-align: center;
}
#goal .wrapper {
  text-align: center;
  overflow: hidden;
}
#goal .wrapper span{
  text-align: center;
  font-size: 20px;
}
#goal .wrapper .btn{
  border: none;
}
#goal .wrapper .bottom-text{
  margin-bottom: 50px;
}
#goal .wrapper .text-bottom{
  display: inline-block;
  position:absolute;
  font-size: 18px;
  bottom: 20px;
  left: 30px;
  font-weight: bold;
}

/* roadMap */
#roadmap .wrapper h2{
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 60px;
}
#roadmap .wrapper h3{
  margin-bottom: 50px;
}
#roadmap .wrapper {
  text-align: center;
  overflow: hidden;
}
#roadmap .wrapper p{
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}
#roadmap .wrapper .btn{
  border: none;
}
#roadmap .wrapper .bottom-text{
  margin-bottom: 100px;
}
#roadmap .wrapper .text-bottom{
  display: inline-block;
  position:absolute;
  font-size: 18px;
  bottom: 20px;
  left: 30px;
  font-weight: bold;
}

/* team */

#team .block{
  display: inline-block;
  min-width: 300px;
  vertical-align: text-top;
  padding-bottom: 50px;
  border: solid 1px #60C0CB;
  border-radius:10px;
  margin: 10px;
  min-height: 500px;
}
#team .pic img{
  margin-top: 50px;
  width: 150px;
  height: 150px;
  background-color: #c4c4c4;
  border-radius: 100%;
}
#team h2{
  text-align: center;
}
#team h3{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 50px;
}
#team p{
  font-size: 16px;
  text-align: center;
  line-height: 1.5em;
}

/*project*/
#project{
  margin-top: 8%;
}
#project .wrapper{
  display: inline-block;
  max-width: 100%;
  width: 90%;
  margin: 1% 3%;
  padding: 2% 0;
}
#project .list{
  margin: 0;
}
#project .list-item{
  display: inline-block;
  width: 20%;
  margin: 0 5%;
}
#project a{
  padding: 2%;
}
#project a:hover{
  background-image: linear-gradient(135deg, #60C0CB 18.23%, #6868FC 100%);
  border-color:rgba(255, 255, 255, 0.705);
  border-style:groove;
  border-radius: 10%;
  border-width: 2px;
}
#project img{
  margin-top: 15%;
  width: 150px;
  height: 150px;
  background-color: #c4c4c4;
  border-radius: 100%;
}
#project h4{
  color: rgba(255, 255, 255, 0.507);
}


/* swap */
#swap {
  width: 100%;
  height: 100vh;
}
.container{  
  width: 100%;
  height: 100%;
}
.swap p{
  font-size: 12px;
}
.swap h3{
  text-align: left;
  font-size: 15px;  
}
.swap {
  display: inline-block;
  border-radius: 10px;
  padding: 10px 20px;
  width: 80%; 
  max-width: 500px; 
  background: rgb(31,34,37);
  box-shadow: 0 9px 20px 0px rgba(0,0,0,0.7), 0 -4px 20px 0px rgba(255,255,255,0.1);
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swap hr{
  margin-top: 30px;
  margin-bottom: 30px;
}
.swap .text_field{ 
  border: none;
  letter-spacing: 2px;
  font-family: Poppins;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  width: 70%;  
  background: rgb(31,34,37);
  box-shadow: inset 0 4px 10px 0px rgba(0,0,0,0.7), inset 0 -4px 20px 0px rgba(255,255,255,0.1);
  border-radius: 10px;
  padding: 15px;
}
.swap .swap-btn{    
  border: none;
  background: rgb(29,32,35);
  box-shadow: 0 9px 20px 0px rgba(0,0,0,0.7), 0 -4px 20px 0px rgba(255,255,255,0.1);
  color: #77e3ef;
}
.swap .swap-btn:hover{     
  background: rgb(29,32,35);
  box-shadow: inset 0 4px 10px 0px rgba(0,0,0,0.7), inset 0 -4px 20px 0px rgba(255,255,255,0.1);
}

.swap .arrow{
  margin-top: 20px;
  margin-bottom: 20px;
}
.swap h3{  
  text-align: center;
}
.swap input{
  text-align: left;
  outline: none;
  background-color: rgb(29,32,35);
/*   border: none; */
}
.swap h2,p{
  text-align: center;
}

#goal .wrapper .watermarker {
  text-align: center;
  position: absolute;  
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
  font-size: 60px;
  height: 200%;
  width: 200%;
  line-height: 100px;
  color: rgba(265,265,265,0.1);
  font-weight: 900;
  text-shadow: none;
  user-select:none;
}
#roadmap .wrapper .watermarker {
  text-align: center;
  position: absolute;  
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
  font-size: 60px;
  height: 200%;
  width: 200%;
  line-height: 100px;
  color: rgba(265,265,265,0.1);
  font-weight: 900;
  text-shadow: none;
  user-select:none;
}
canvas {
  left: 0px;
}


@media screen and (max-width: 426px) {
  .wrapper {
    width: 90%;
    padding: 60px 20px;
  }
  #FDOGE_NFT .pic{  
    width: 100%;
    height: 100%;    
  }
  h1{
    font-size: 62px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 22px;
  }
  p{
    font-size: 18px;
  }
  #goal .wrapper span{
    text-align: center;
    font-size: 16px;
  }
  #goal .wrapper .text-bottom{
    font-size: 16px;
  }
  #roadmap .wrapper .text-bottom{
    font-size: 16px;
  }
  #goal .wrapper h2{
    font-size: 45px;
  }
  #roadmap .wrapper h2{
    font-size: 45px;
  }
  #roadmap .wrapper p{
    font-size: 16px;
  }
  #goal .wrapper .watermarker {
    font-size: 40px;
    line-height: 70px;
  }
  #roadmap .wrapper .watermarker {
    font-size: 40px;
    line-height: 70px;
  }
  #team .block{
    min-height: 300px;
  }
  #project .list-item{
    display: block;
  }
  #project img{
    width:100px;
    height:100px;
  }
  #project a{
    width:80vw;

  }
  #project h3{
    font-size: 25px;
  }
  #project h4{
    font-size: 18px;
  }
  p {
    line-height: 1.2em;
  }
}
@media screen and (max-width: 500px) {
  ul{
    padding: 0px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 320px) {
  .wrapper {
    width: 95%;
    padding: 60px 10px;
  }
}
@media  screen and (max-width:950px) and (max-height:500px){
  #swap{
    height: 680px;
  }
  #swap .container{
    height: 680px;
  }
  .swap{
    width:80%;
    max-width:800px;
  }
}