@import url(https://fonts.googleapis.com/css?family=Poppins);

.nft{
  text-align: center;
  padding: 15% 5% 5% 5%;
  margin-bottom: 10%;
}
#picture{
  display:inline-block;
  width: 45%;
  height: 30%;
}
#blockinfo{
  display:inline-block;
  width:45%;
  height: 100%;
}
.nft img{
  display: inline-block;
  width: 80%;
  height: 80%;
  vertical-align: top;
}
.mintblock{
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  vertical-align: top;
  margin-top: 10%;
}
.btn{
  color: white;
  letter-spacing: 2px;
  padding: 5px 10px;
  border: none;
  border-radius: 30px;
  margin: 0px 10px;
}
.btn.wallet_btn{
  background-color: #fa3800;
}
.btn.mint_btn{
  background-color: #016FFF;
}
.cal_btn{
  background-color: black;
  border-radius: 50%;
}
.max_btn{
  background-color: black;
  color: #5DEB17;
}
.amount_field{
  border: solid 2px black;
  width: 50px;
  color: #F58B47;
  font-size: 20px;
  text-align: center;
}
.total_display{
  margin: 0px 20px;
  color: #F58B47;
}
.zone{
/*   border: solid 1px black; */
  display: flex;          
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}
.zone button{  
  cursor:pointer;
}
.green_text{
  color: #5DEB17;
}
.percent{  
  position: relative;
  width: 200px;
  height: 16px;
  margin: 0 10px;
  border-radius: 10px;
  background: #151515;
  overflow: hidden;
  border: none;
}
.percent .progress{  
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(45deg, #1fe6ff, #BAF857);
}

@media screen and (max-width: 992px) {
  #picture{
    width: 80%;
    margin-top: 10%;
  }
}
@media screen and (max-width: 576px) {
  .nft{
    margin-top: 60%;
    margin-bottom: 20%;
  }
  #picture{
    width: 80%;
    margin-top: 20%;
  }
  #blockinfo{
    width: 60%;
  }
}